.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination-bullet {
  height: 0.8rem;
  width: 0.8rem;
  background-color: var(--color-main);
  opacity: 1;
  border: 1px solid var(--color-accent);
}
.swiper-pagination-bullet-active {
  background-color: var(--color-accent);
  border: 1px solid var(--color-main);
}

.swiper-button-next,
.swiper-button-prev {
  width: 4rem;
  height: 110%;
  position: absolute;
  top: 0;
  bottom: 0;
  color: var(--color-main);
  transition: all 300ms ease-in-out;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--color-accent);
}

.swiper-button-disable {
  color: none;
}
