@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-size: border-box;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

:root {
  --color-main: #092a2a;
  /* --color-accent: #dfab00; */
  --color-accent: #c3b792;
  --color-primary: #cfdbd5;
  --color-secondary: #242423;
  --color-alter-secondary: #333533;
  --gradient-default: linear(90deg, #c3b792, #242423);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-main: #092a2a;
    --color-accent: #c3b792;
    --color-primary: #242423;
    --color-secondary: #cfdbd5;
    --color-alter-secondary: #333533;
    --gradient-default: linear(90deg, #c3b792, #242423);
  }
}

.animation-reveal {
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background-color: none;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-accent);
}

@keyframes movingbackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes reveal {
  from {
    opacity: 0;
    translate: 0 100px;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}

.btn {
  @apply px-4 bg-accent text-white p-1.5 rounded;
}
body {
  color: var(--color-accent);
  /* background-color: var(--color-secondary); */
  background-color: black;
  /* background: linear-gradient( 
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
